.debug-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 1rem 1rem 0rem 0rem;
    > summary {
        min-width: 2rem;
        text-align: center;
        padding: 0.5rem;
    }
    > .contents {
        padding: 1rem;
    }
    h1 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    ul {
        padding-left: 1rem;
    }
}

.debug-menu > summary::marker {
    content: '?';
    font-weight: bold;
    font-size: 1.2rem;
}

.debug-menu[open] > summary::marker {
    content: 'Close';
}

.debug-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.debug-text {
    white-space: pre-wrap;
}
