@keyframes pop {
    from {
        stroke-dasharray: 0 30;
        stroke-dashoffset: -15;
    }
    to {
        stroke-dasharray: 30 30;
        stroke-dashoffset: 31;
    }
}
.vfx-wrapper {
    pointer-events: none;
    user-select: none;
    translate: -50% -50%;
    stroke: #fefefe;
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
    animation: pop 0.5s cubic-bezier(0.83, 0, 0.17, 1) forwards;
    .pop {
        $pop-lines: 8;
        @for $i from 0 to $pop-lines {
            > :nth-of-type(#{$i + 1}) {
                rotate: math.div(360deg, $pop-lines) * $i;
            }
        }
    }
    .speech {
        filter: drop-shadow(0 0 4px #00000070);
        $speech-lines: 3;
        rotate: var(--rotation);
        @for $i from 0 to $speech-lines {
            > :nth-of-type(#{$i + 1}) {
                rotate: -30deg + ($i * 30);
            }
        }
    }
    &.bigger {
        stroke-width: 2;
        > * {
            scale: 2;
        }
    }
}
.css2drenderer {
    position: absolute;
    top: 0;
    pointer-events: none;
    user-select: none;
}
